<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>五子棋-人人对弈</title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/style/nav.css"/> -->
    <link rel="stylesheet" type="text/css" href="../static/style/gamePvP.css"/>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    
</head>
<body>
   
    <div id="header" class="header">
        <!-- <div class="NavBox">
           <div class="navItem" id="indexPage"><span>首页</span></div>
           <div class="navItem" id="roomListPage"><span>房间列表</span></div>
           <div class="navItem"><span>关于</span></div>
        </div> -->
        <div class="userBox">
            <div id="Player1" class="userInfo await">
                <div class="userName " id="palyer1name">Player1</div>
                <div class="timer" id="timer"></div>
            </div>
            <div id="Player2" class="userInfo await">
                <div class="userName" id="palyer2name">Player2</div>
                <div class="timer" id="timer"></div>
            </div>
        </div>
       <!-- <div class="UserBox">
           <div class="avatarBox">
               <img class="imgAvatar"/>
           </div>
           <div class="nickNameBox">
               <span>Mark</span>
           </div>
       </div> -->
   </div>
    <div id="main">
        <!-- <div class="subtitle">
            <span>快点啊！</span>
        </div> -->
        <div id="boardPad">
            <div class="cell-black cell"></div>
            <div class="cell-white cell"></div>
            <div class="cell-null cell"></div>
            <div class="cell-enter cell"></div>
        </div>
       
        <div id="actionBox">
            <div class="isPlayChess">
                <div class="tipText">操作</div>
                <div class="tipButBox">
                    <div class="tipBut" data-isplaychess="0" id="repentance">悔棋</div>
                    <div class="tipBut" data-isplaychess="1" id="peace">求和</div>
                    <div class="tipBut" data-isplaychess="2" id="admitDefeat">认输</div>
                    <div class="tipBut" data-isplaychess="3" id="exitRoom">退出</div>
                </div>
            </div>
        </div>
        
        <!-- <div class="messageBox" id="messageBox">
            <div class="msgTitle">
                <h2>提示</h2>
            </div>
            <div class="msg">
                <span class="msgContent">对方请求悔棋，你是否同意？</span>
            </div>
            <div class="msgAction">
                <div class="msgBut">
                    <span>是</span>
                </div>
                <div class="msgBut">
                    <span>否</span>
                </div>
            </div>
        </div> -->
        <!-- <div class="AgainBox" id="AgainBox">
            <div>
                <h1>恭喜你取得胜利</h1>
            </div>
            <div>
                <div class="msg">
                    <span class="msgContent">是否再来一局</span>
                </div>
                <div class="msgAction">
                    <div class="msgBut">
                        <span>是</span>
                    </div>
                    <div class="msgBut">
                        <span>否</span>
                    </div>
                </div> 
            </div>
        </div> -->
    </div>
    
    <div class="chatBox" id="chatBox">
        <div><span style="font-size: 25px;">发送消息:</span></div>
        <div class="inputBox">
            <input value="" class="input" id="input" />
        </div>
        <div class="sendBox" id="sendBut">发送</div>
        <div class="chatLog" id="chatLog">
            <!-- <div class="oneChat" >
                <div class="chat_username">ykp:</div>
                <div class="chat_content">快点啊！</div>
            </div> -->
        </div>
    </div>
    <script src="../static/js/gamePvP.js"></script>
</body>
</html>