<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人人对弈模式</title>
    <link rel="stylesheet" type="text/css" href="../static/style/nav.css"/>

</head>
<body>
    <div id="header">
        <div class="NavBox">
           <div class="navItem"><span>首页</span></div>
           <div class="navItem"><span>关于</span></div>
        </div>
       <div class="UserBox">
           <div class="avatarBox">
               <img class="imgAvatar"/>
           </div>
           <div class="nickNameBox">
               <span>Mark</span>
           </div>
       </div>
   </div>
    <div id="main">
        <div class="roomList">
            
        </div>
    </div>
</body>
</html>