<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/style/index.css">
</head>

<body>
    <script src="../static/js/index.js"></script>
    <div id="main">
        <div class="modelText">
            <h1>请选择模式</h1>
        </div>
        <div class="modelBox">
            <div id="pvpBut" onclick="modelCheck(event)" data-model="pvp" class="Butt">人人对弈</div>
        </div>
        <div class="modelBox">
            <div id="pveBut" data-model="pve"onclick="modelCheck(event)" class="Butt">人机对弈</div>
        </div>
    </div>
</body>

</html>