<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人人对弈模式</title>
    <link rel="stylesheet" type="text/css" href="../static/style/roomList.css"/>
    <link rel="stylesheet" type="text/css" href="../static/style/nav.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
</head>
<body>
    
    <div id="header">
        <div class="NavBox">
           <div class="navItem" id="indexPage"><span>首页</span></div>
           <!-- <div class="navItem"><span></span></div> -->
           <div class="navItem" id="aboutPage"><span>关于</span></div>
        </div>
       <div class="UserBox">
           <div class="avatarBox">
               <img class="imgAvatar"/>
           </div>
           <div class="nickNameBox">
               <span>Mark</span>
           </div>
       </div>
   </div>
    <div id="main">
        <button onclick="createRoom()">创建房间</button>
        <button onclick="getRoomList()">刷新房间列表</button>
        <div class="roomList" id="roomList">
            <div class="roomItem" data-roomid="123" onclick="joinRoom(event)">
                <div class="roomIDBox">
                    <div class="idText"><span>房间ID：</span></div>
                    <div class="roomID">999</div>
                </div>
                <div style="height: 1px; background-color: black;"></div>
                <div class="userList">
                    <div class="userBox">
                        <div class="BlackUser"><span>黑方：</span></div>
                        <div class="userName"><span>Mark</span></div>
                    </div>
                    <div class="userBox">
                        <div class="BlackUser"><span>白方：</span></div>
                        <div class="userName"><span>Josn</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/roomList.js"></script>
</body>
</html>